<aside>
  <div class="widget anuncio">
    <div class="titulo">Anuncio</div>
    <div class="widget-content">
      <a href="#">
        <%=image_tag("PuyoPuyoBanner.jpg")%>
      </a>
    </div>
  </div>
  <div class="widget partido-directo">
    <div class="titulo">¡En directo!</div>
    <div class="widget-content">
      <div class="oponente">
        <%= image_tag("JeffMoore.jpg") %>

        <div class="username">Jeff More</div>
      </div>
      <div class="vs">VS</div>
      <div class="oponente">
        <%= image_tag("JonasNeubauer.jpg")%>
        <div class="username">Jonas Neubauer</div>
      </div>
    </div>
  </div>
  <div class="widget partido-directo">
    <div class="titulo">¡En directo!</div>
    <div class="widget-content">
      <div class="oponente">
        <%= image_tag("Zixiong.jpg") %>
        <div class="username">Zixiong Lin</div>
      </div>
      <div class="vs">VS</div>
      <div class="oponente">
        <%= image_tag("JavierSanchezVillar.jpg") %>
        <div class="username">Javier Sanchez</div>
      </div>
    </div>
  </div>
</aside>